.Landing {
    width: 100vw;
    height: 100vh;
    text-align: center;
    /* grid-column: 1/ -1;
    grid-template-rows: 50px repeat(2,1fr);
    display: grid;
    grid-gap:5px;
    grid-template-columns: repeat(6,1fr); */
    /* background-color: lightgray; */
}

.btn:link,
.btn:visited {
    /* background-color: #fff; */
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 60px;
    margin-top: 10px;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 20px rgba(135, 205, 250, .4);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 20px rgba(135, 205, 250, .75);
}

.btn-wht {
    background-color: black;
    color: white;
}

/* .btn::after{
    
}

.btn-wht::after{
    
} */