 .profile_page {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 4px;
 }

 .user_profile_information{
     text-align: center;
 }

 @media screen and (max-width: 420px) {
     .profile_page {
         display: block;
     }
 }