.AllUsers{
    display: grid;
    grid-template-rows: 50px auto;
}

#AllUsers_Title{
    align-self: center;
    justify-self: center;
}

.UserList{
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-auto-rows: 1fr;

}